
:root {
    --Red: #f65351;
    --Blue: #0a317b;
    --White: #ffffff;
    --Very-light-grayish-blue: #f7fafd;
    --Light-grayish-blue-1: #e5effa;
    --Light-grayish-blue-2: #dde7ee;
    --Grayish-blue: #939dae;
    --Dark-grayish-blue: #5e6778;
    --Very-dark-blue: #1c202b;
}
